[Unit]
Description=IP Monitor Service
After=network.target

[Service]
ExecStart=/home/infopyme/ipmonitor/ippublic.sh
Restart=always

[Install]
WantedBy=multi-user.target
